.advantages__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: rem(60);

	@media (max-width: em(1366)){
		gap: rem(10)
	}

	@media (max-width:$tablet){
		flex-direction: column;
		align-items: flex-start;
	}
}

.advantages__item {
	max-width: calc(25% - 35px);
	min-height: rem(50);
	padding-left: rem(60);
	background-repeat: no-repeat;
	line-height: 1.55;

	@media (max-width: em(1366)){
		max-width: calc(25% - 25px);
		background-position: left center;
	}

	@media (max-width:$tablet){
		max-width: 100%;
		background-position: left top;
	}
}