.btn {
	padding: rem(25) rem(15);
	border: 1px solid #1F1E48;
	border-radius: 6px;
	transition: color 0.3s ease-out, background-color 0.3s ease-out;

	&:hover {
		background-color: $accent;
		color: #ffffff;
	}
}