.cart {
	&--active {
		.cart__btn {
			background-image: url('@img/icons/favorite-icon.svg');
		}
	}
}

.cart__link {
	font-size: rem(20);
	line-height: 1.3;

	&:hover {
		.cart__img {
			transform: scale(1.1);
		}
	}
}

.cart__view {
	position: relative;
	margin-bottom: rem(24);
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
}

.cart__form {
	position: absolute;
	display: flex;
	width: rem(22);
	height: rem(20);
	z-index: 2;
	top: rem(25);
	right: rem(25);
}

.cart__btn {
	width: 100%;
	height: 100%;
	background-image: url('@img/icons/heart-icon.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.cart__frame {
	padding-bottom: 100%;
}

.cart__img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.cart__title {
	margin-bottom: rem(16);
}

.cart__price {
	color: $accent;
	font-family: 'DMSans';
	font-weight: 500;
}