.circle-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(140);
	height: rem(140);
	border-radius: 50%;
	border: 1px solid $black-300;
	text-transform: uppercase;
	font-size: rem(14);
	color: $black-300;
	letter-spacing: 0.08em;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;

	&::after {
		position: absolute;
		left: 50%;
		bottom: 20%;
		width: rem(95);
		height: rem(18);
		content: "";
		background-image: url('@img/icons/arrow-right.svg');
		background-repeat: no-repeat;
	}

	// &:hover {
	// 	background-color: $accent;
	// 	color: #ffffff;
	// }
}