.catalog {
	padding-top: rem(120);

	@media (max-width:$tablet){
		padding-top: rem(100);
	}

	@media (max-width:$mobileSmall){
		padding-top: rem(75);
	}
}

.catalog__title {
	margin-bottom: rem(25);
	text-align: center;
}

.catalog__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: rem(100);
	column-gap: rem(20);

	@media (max-width:$mobile){
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width:$mobileSmall){
		grid-template-columns: 100%;
		row-gap: rem(65);
	}
}