.categories {
	margin: rem(165) 0;
}

.categories__container {
}

.categories__suptitle {
	margin: 0 auto;
	display: block;
	text-align: center;
}

.categories__title {
}

.categories__list {
}

.categories__link {
}

.categories__bonus {
}

.categories__info {
}

.categories__head {
}

.categories__text {
}