.delivery {
	margin: rem(90) 0 rem(70);
}

.delivery__container {
	max-width: rem(670);
}

.delivery__title {
	margin-bottom: rem(10);
	text-align: center;
}

.delivery__item {
	padding: rem(40) 0;

	&--accent {
		background-color: $light;
	}
}



.delivery__heading {
	margin-bottom: rem(25);
	padding-left: rem(34);
	letter-spacing: 0.02em;
	line-height: 1.35;
	font-weight: 500;
	font-size: rem(24);
	background-repeat: no-repeat;
	background-position: left center;

	&--card {
		background-image: url('@img/icons/icon-pay.svg');
	}

	&--delivery {
		background-image: url('@img/icons/icon-delivery.svg');
	}

	&--refuse {
		background-image: url('@img/icons/icon-refuse.svg');
	}
}

.delivery__text {
	line-height: 1.55;

	p {
		margin: rem(30) 0;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	strong {
		margin-bottom: rem(10);
		display: block;
		font-weight: 500;
		
	}
}
