.download {
	justify-content: space-between;
	background-image: url('@img/decor/download-line.png'), url('@img/decor/download-bg.png');
	background-repeat: no-repeat;
	background-size: 100%;

	@media (max-width:$tablet){
		background-image: none;
	}

	@media (max-width:$mobile){
		background-image: url('@img/decor/download-bg-mobile.png');
		background-position: 10%;
		background-size: 100% 75%;
	}
}

.download__content {
	padding-top: 90px;
	min-height: 90vh;
	display: flex;
	justify-content: space-between;
	gap: 30px;

	@media (max-width:$tablet){
		flex-direction: column;
		min-height: auto;
		padding-top: rem(20);
		padding-bottom: rem(55);
		justify-content: flex-start;
		gap: 0;
	}
}

.download__action {
	max-width: rem(210);

	&--left {
		padding-top: rem(40);

		@media (max-width:$tablet){
			padding-top: 0;
		}
	}

	&--right {
		max-width: rem(230);
		padding-top: rem(120);

		@media (max-width:$tablet){
			display: none;
		}
	}

	@media (max-width:$tablet){
		max-width: 100%;
	}
}

.download__title {
	margin-bottom: rem(130);
	line-height: 0.8;

	@media (max-width:$tablet){
		margin: 0 auto rem(25);
		max-width: 90%;
		text-align: center;
	}
}

.download__item {
	position: relative;
	text-align: center;
	background-repeat: no-repeat;
	font-size: rem(16);

	&::before {
		position: absolute;
		top: -83px;
		left: 50%;
		transform: translateX(-50%);
		content: "";
		width: 63px;
		height: 63px;
		background-image: url('@img/icons/icon-location.png');
	}

	.btn {
		margin-top: rem(15);
		font-size: rem(14);
	}

	@media (max-width:$tablet){
		display: none;
	}
}

.download__images {
	display: flex;

	@media (max-width:$tablet){
		margin-bottom: rem(80);
		justify-content: center;
	}
}

.download__img-item {
	&:last-child {
		transform: translateY(70px);
		
		@media (max-width:$mobile){
			transform: translateY(80px);
		}
	}
}

.download__img {
	width: 100%;
	object-fit: cover;

	@media (max-width:$tablet){
		margin-bottom: rem(15);
	}
}

.download__caption {
	display: none;

	@media (max-width:$tablet){
		margin: 0 auto;
		display: block;
		text-align: center;
		font-size: rem(16);
	}
}

.download__links {
	display: none;

	@media (max-width:$tablet){
		display: flex;
		justify-content: center;
		gap: rem(30);
	}

	@media (max-width:$mobile){
		flex-direction: column;
		align-items: center;
		gap: rem(10);
	}
}

.download__link {
	@media (max-width:$mobileSmall){
		width: 100%;

		a {
			width: 100%;
		}
	}
}
