.favorite {
	margin: rem(130) 0 rem(160);

	@media (max-width:$tablet){
		margin: rem(100) 0;
	}

	@media (max-width:$mobileSmall){
		margin: rem(75) 0;
	}
}

.favorite__container {
	max-width: 1035px;
}

.favorite__title {
	margin-bottom: rem(60);
	text-align: center;

	@media (max-width:$mobile){
		margin-bottom: rem(30);
	}
}

.favorite__table {

	@media (max-width:$mobile){
		width: 100%;
	}
}

.favorite__mobile {
	overflow: auto;
	width: 100%;
}

.favorite__head {
	display: grid;
	grid-template-columns: 8.2% 31.2%  15.9% 15.9% 28.8%;
	min-height: rem(83);
	border: 0.5px solid #d8d8d8;
	border-bottom: none;

	@media (max-width:$mobile){
		display: none;
	}
}

.favorite__list {
	border: 0.5px solid #d8d8d8;
	border-top: none;
	overflow: auto;

	@media (max-width: em(525)){
		border: none;
	}
}

.favorite__item {
	display: grid;
	grid-template-columns: 8.2% 31.2%  15.9% 15.9% 28.8%;
	min-height: rem(215);

	@media (max-width:$mobile){
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: em(525)){
		margin-bottom: rem(30);
		grid-template-columns: repeat(2, 1fr);
		border: 0.5px solid #d8d8d8;
	}
}

.favorite__btn {
	width: 100%;
	height: 100%;
}

.favorite__icon {
	width: rem(12);
	height: rem(12);
}

.favorite__img {
	margin-right: rem(24);
	width: rem(100);
	height: rem(100);
	object-fit: cover;

	@media (max-width:$mobile){
		margin-bottom: rem(15);
		margin-right: 0;
	}
}

.favorite__view {
	@media (max-width:$mobile){
		display: flex;
		flex-direction: column;
		grid-row:  1 / 3;
	}

	@media (max-width: em(525)){
		grid-row:  1 / 2;
	}
}

.favorite__delete {
	@media (max-width:$mobile){
		order: 4;
		grid-column: 3 / 4;
		grid-row: 2 / 3;
	}

	@media (max-width: em(525)){
		grid-column: 2 / 3;
	}
}

.favorite__delete,
.favorite__view,
.favorite__price,
.favorite__available,
.favorite__basket,
.favorite__btns,
.favorite__names,
.favorite__prices,
.favorite__availables,
.favorite__add {
	border: 0.5px solid #d8d8d8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.favorite__basket {
	padding: rem(10);

	@media (max-width: em(525)){
		  grid-column: 2 / 3;
			grid-row: 1 / 2;
	}
}

.favorite__price {
	color: #707070;
	line-height: 1.65;
	font-family: 'DMSans';

	@media (max-width: em(525)){
		grid-column: 1 / 3;
	}
}

.favorite__available {
	color: #707070;
	line-height: 1.55;

	@media (max-width:$mobile){
		grid-row: 2 / 3;
		grid-column: 2 / 3;
	}

	@media (max-width: em(525)){
		grid-row: 2 / 3;
		grid-column: 1 / 2;
	}
}

.favorite__button {
	padding: 0 rem(17) 0 rem(30);
	min-height: rem(53);
	display: flex;
	align-items: center;
	font-weight: 700;
	line-height: 1.25;
	background-color: #000000;
	color: #ffffff;
	border-radius: 4px;

	@media (max-width:$mobile){
		padding: 0 rem(10);
	}

	@media (max-width:$mobileSmall){
		background-color: transparent;
	}
}

.favorite__button-text {
	@media (max-width:$mobileSmall){
		display: none;
	}
}

.favorite__icon-bag {
	margin-left: rem(8);
	width: rem(30);
	height: rem(30);
	fill: #ffffff;

	@media (max-width:$mobileSmall){
		margin-left: 0;
		fill: #000000;
	}
}