.howitwork {
	position: relative;
	background-image: url('@img/decor/howitworks-bg.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-color: #f4f2ff;

	&::before,
	&::after {
		position: absolute;
		z-index: 2;
		left: 0;
		right: 0;
		width: 100%;
		background-repeat: no-repeat;
		background-size: 100%;
		content: "";
	}

	&::before {
		top: 0;
		height: 155px;
		background-image: url('@img/decor/howitwork-border-top.png');

		@media (max-width:$mobile){
			height: 70px;
			top: 50px;
		}
	}

	&::after {
		bottom: -1px;
		height: 90px;
		background-image: url('@img/decor/howitwork-border-bottom.png');
		background-size: cover;

		@media (max-width:$tablet){
			background-size: 100%;
    	background-position: bottom;
		}

		@media (max-width:$mobileSmall){
			background-size: 200%;
		}
	}

	@media (max-width:$mobile){
		padding-top: rem(50);
	}
}

.howitwork__container {
	@media (max-width:$mobileSmall){
		padding-right: 0;
	}
}

.howitwork__navigation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	padding: 0 rem(20);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;
}

.howitwork__button-prev,
.howitwork__button-next {
	width: 17px;
	height: 34px;
	background-image: url('@img/icons/icon-angle.svg');
	background-repeat: no-repeat;
	background-size: cover;
	display: none;

	@media (max-width:$mobile){
		display: block;
	}
}

.howitwork__button-next {
	transform: rotate(180deg);
}

.howitwork__title {
	margin: 0 50px 40px;
	line-height: 0.8;

	@media (max-width: em(1366)){
		margin: 0 0 50px;
	}

	&--mobile {
		display: none;

		@media (max-width:$mobile){
			margin: 0 auto 0 25px;
			display: block;
			max-width: 50%;
		}
	}

	&--desktop {
		@media (max-width:$tablet){
			display: none;
		}
	}

	
}

.howitwork__slider {
	padding: 190px 0 0;

	@media (max-width:$tablet){
		padding-top: 50px;
	}
}

.howitwork__swiper {
	justify-content: space-between;
}

.howitwork__step {
	position: relative;
	margin: 0 40px;
	padding-left: rem(85);
	max-width: rem(270);
	min-height: rem(82);
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-size: contain;
	font-size: rem(16);

	@media (max-width: em(1366)){
		font-size: rem(14);
	}

	@media (max-width:$tablet){
		margin: 0;
	}

	@media (max-width:$mobile){
		margin-bottom: rem(10);
		font-size: rem(12);
		padding-left: rem(60);
	}
}

.howitwork__slide {
	max-width: rem(350);

	@media (max-width: em(1366)){
		max-width: rem(300);
	}

	@media (max-width:$tablet){
		margin-top: auto;
		max-width: rem(200);

		&:last-child {
			margin-right: 20px;
		}
	}
}

.howitwork__img {
	width: 100%;
	object-fit: cover;
}

.howitwork__slide--reverse {
	transform: translateY(-180px);
	display: flex;
	flex-direction: column-reverse;

	@media (max-width:$tablet){
		transform: translateY(0);
		flex-direction: column;
	}
}