.partners {
	margin: rem(130) 0 rem(80);
}

.partners__container {
	max-width: rem(670);
}

.partners__title {
	margin-bottom: rem(55);
	text-align: center;
}

.partners__text {
	margin-bottom: rem(80);

	p {
		margin: rem(30) 0;
		line-height: 1.55;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.partners__heading {
	margin-bottom: rem(25);
	font-size: rem(24);
	letter-spacing: 0.02em;
	line-height: 1.35;
	font-weight: 500;
}

.partners__phone {
	padding-left: rem(32);
	background-image: url('@img/icons/phone-accent.svg');
	background-repeat: no-repeat;
	background-position: left center;
	transition: color 0.3s ease;

	&:hover {
		color: $accent;
	}
}