.product {
	margin-bottom: rem(115);
	padding-top: rem(65);

	@media (max-width:$tablet){
		margin-bottom: rem(100);
	}

	@media (max-width:$mobileSmall){
		margin-bottom: rem(75);
	}
}

.product__content {
	margin-bottom: rem(100);
	display: flex;
	gap: rem(40);

	@media (max-width: em(1366)){
		  gap: rem(25);
	}

	@media (max-width:$tablet){
		margin-bottom: rem(80);
		flex-direction: column;
	}

	@media (max-width:$mobile){
		margin-bottom: rem(60);
	}
}

.product__sliders {
	display: flex;
	gap: rem(40);

	@media (max-width: em(1366)){
		gap: rem(25);
	}

	@media (max-width:$tablet){
		justify-content: center;
	}

	@media (max-width:$mobile){
		flex-direction: column-reverse;
	}
}

.thumbs {
	overflow: auto;
	max-height: rem(600);
	-ms-overflow-style: none;
  scrollbar-width: none;

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}

.thumbs__slide {
	width: rem(120);
	height: rem(120);
	border-radius: 8px;
	cursor: pointer;

	&.swiper-slide-thumb-active {
		border: 1px solid #000000;
	}
}

.main {
	max-width: rem(540);
	max-height: rem(600);

	@media (max-width: em(1366)){
		max-width: rem(500);
	}

	@media (max-width:$mobile){
		max-width: 100%;
		max-height: initial;
	}
}

.main__swiper {
	margin-bottom: rem(24);

	@media (max-width:$mobile){
		margin-bottom: 0;
	}
}

.main__pagination {
	width: 100%;
	height: 2px;
	display: flex;

	@media (max-width:$mobile){
		display: none;
	}
}

.main__img,
.thumbs__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
}

.swiper-pagination-bullet {
	height: 2px;
	background-color: #d8d8d8;
	width: 100%;
	display: block;

	&.swiper-pagination-bullet-active {
		background-color: #707070;
	}
}

.product__title {
	margin-bottom: rem(26);
	letter-spacing: 0.02em;
	font-size: rem(24);
	font-weight: 500;
	line-height: 1.35;
}

.product__price {
	margin-bottom: rem(45);
	display: block;
	color: $accent;
	font-weight: 500;
	line-height: 1.35;
	font-size: rem(33);

	@media (max-width:$mobileSmall){
		margin-bottom: rem(25);
	}
}

.product__short {
	margin-bottom: rem(40);
	color: #707070;
	line-height: 1.55;

	p {
		margin: rem(10) 0;
	}
}

.product__chars {
	margin-bottom: rem(50);
}

.product__char {
	&:not(:last-child) {
		margin-bottom: rem(15);
	}
}

.char__type {
	margin-right: rem(16);
}

.char__value {
	color: #707070;
}

.product__form {
	margin-bottom: rem(40);
	display: flex;
	gap: rem(10);
}

.product__label {
	max-width: rem(360);
	width: 100%;

	&--favorite {
		max-width: rem(68);

		.product__btn {	
			background-color: transparent;
			border: 1px solid #000000;
			background-image: url('@img/icons/favorite-icon.svg');
			background-repeat: no-repeat;
			background-position: center;
			color: transparent;
			border-radius: 4px;
		}
	}
}

.product__btn {
	width: 100%;
	padding: rem(10) rem(15);
	min-height: rem(53);
	font-weight: 700;
	line-height: 1.25;
	text-align: center;
	cursor: pointer;
}

.product__gift {
	position: relative;
	padding-left: rem(50);
	min-height: rem(30);
	display: flex;
	align-items: center;
	color: #707070;
	line-height: 1.55;

	span {
		margin-right: rem(5);
		color: $black-300;
	}

	&::before {
		position: absolute;
		left: 0;
		width: rem(30);
		height: rem(30);
		background-image: url('@img/icons/gift-accent-icon.svg');
		background-repeat: no-repeat;
		content: "";
	}
}

.product__heading {
	margin-bottom: rem(40);
	padding-bottom: rem(34);
	max-width: max-content;
	font-size: rem(20);
	border-bottom: 1px solid #000000;
	line-height: 1.3;
}

.product__text {
	color: #707070;
	line-height: 1.55;

	ul {
		margin-left: rem(15);
		padding-left: rem(10);

		li {
			list-style-type: initial;
		}
	}

	p {
		margin: rem(10) 0;
	}
}