.relevant {
	margin: rem(115) 0 rem(90);
}

.relevant__title {
	margin-bottom: rem(45);
	font-size: rem(24);
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 1.35;
}

.relevant__list {
	display: flex;
	gap: rem(20);
}

.relevant__item {
	width: 100%;
}