.reviews {
	margin: rem(160) 0;
}

.reviews__container {
	text-align: center;
}

.reviews__suptitle {
	margin: 0 auto rem(10);
}

.reviews__title {
	margin-bottom: rem(50);
}

.reviews__slider {
	margin-bottom: rem(40);
	padding: rem(24) 0;
}

.reviews__slide {
	opacity: 0.6;
	transition: transform 0.3s ease, opacity 0.3s ease;

	&.swiper-slide-active {
		transform: scale(1.075);
		opacity: 1;
	}
}

.reviews__img {
	width: 100%;
	object-fit: cover;
}

.reviews__bonus {
	display: flex;
	align-items: center;
	justify-content: center;
}

.reviews__socials {
	display: flex;
}

.reviews__social {
	width: rem(60);
	height: rem(60);
	border-radius: 50%;

	&:not(:first-child) {
		transform: translateX(-10px);
	}
}

.reviews__link {
	width: 100%;
	height: 100%;
	display: block;
}

.reviews__icon {
	width: 100%;
	height: 100%;
}

.reviews__text {
	position: relative;
	margin-left: rem(40);
	max-width: rem(380);
	text-align: left;
	color: $black-300;
	line-height: 1.55;

	&::before {
		position: absolute;
		bottom: rem(-20);
		left: rem(-43);
		width: rem(43);
		height: rem(13);
		background-image: url('@img/icons/arrow-round.svg');
		content: "";
	}
}