<div class="advantages">
	<ul class="advantages__list">
		<li class="advantages__item" style="background-image: url('@img/icons/delivery-icon.svg');">
			Экспресс-доставка за 2-3 дня
		</li>
		<li class="advantages__item" style="background-image: url('@img/icons/delivery-icon.svg');">
			Подарки к каждому заказу
		</li>
		<li class="advantages__item" style="background-image: url('@img/icons/delivery-icon.svg');">
			Гипоаллергенный бижутерный сплав
		</li>
		<li class="advantages__item" style="background-image: url('@img/icons/delivery-icon.svg');">
			Бриллиантовая огранка каждого кристалла
		</li>
	</ul>
</div>