<article class="cart">
	<a class="cart__link" href="#">
		<div class="cart__view">
			<form class="cart__form" method="get">
				<input type="hidden" name="id">
				<button class="cart__btn" type="submit" value="cart/add" title="Добавить в избранное">
					<span class="sr-only">Добавить в избранное</span>
				</button>
			</form>
			<div class="cart__frame">
				<span class="sr-only">Frame for images</span>
			</div>
			<img class="cart__img" src="@img/product/product-1.jpg" alt="Серьги Cassiopeia">
		</div>

		<h3 class="cart__title">@@name</h3>
		<span class="cart__price">@@price</span>
	</a>
</article>