<article class="cart-basket">
	<div class="cart-basket__view">
		<img class="cart-basket__img" src="@img/product/product-1.jpg" alt="product">
	</div>
	<div class="cart-basket__info">
		<form class="cart-basket__delete">
			<input type="hidden">
			<button class="cart-basket__btn" type="submit">
				<svg class="cart-basket__icon-close">
					<use xlink:href="img/sprite.svg#icon-close"></use>
				</svg>
			</button>
		</form>
		<div class="cart-basket__resume">
			<h2 class="cart-basket__name">Серьги Cassiopeia</h2>
			<span class="cart-basket__descr">Белый</span>
			<span class="cart-basket__price">1500₽</span>
		</div>
		<form class="quantity">
			<div class="quantity__descr">Количество:</div>
			<div class="quantity__body">
				<span class="minus">-</span>
				<input class="quantity__field" type="text" step="1" min="1" name="quantity" value="1" size="4" pattern="[0-9]*">
				<span class="plus">+</span>
			</div>
		</form>
	</div>
</article>