// Заголовки, общие БЄМ блоки и проче...

.logo {
	display: block;
}

.title {
	font-weight: 500;
	font-size: rem(33);
	line-height: 1.35;
}

.suptitle {
	position: relative;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding-right: rem(12);
	max-width: max-content;
	font-size: rem(38);
	line-height: 1.35;
	font-family: 'AnastasiaScript';
	font-weight: 400;
	background-color: #6d5272;
  background-image: linear-gradient(86.8deg, #b83dcc, #6d5272);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

	&::after,
	&::before {
		position: absolute;
		top: 50%;
		content: "";
		width: rem(160);
		height: 1px;
		background-color: $accent;
	}

	&::before {
		left: -180px;
	}

	&::after {
		left: calc(100% + 20px);
	}
}