//====================================================================================================

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}

.menu__item {
	&:not(:last-child) {
		margin-right: rem(30);
	}

	@media (max-width:$tablet){
		display: flex;
	}
}

.header {
	border-bottom: 1px solid #e6e6e6;

	li a {
		text-transform: uppercase;
		font-size: rem(13);
		padding-bottom: rem(20);
		border-bottom: 2px solid transparent;
		transition: border-color 0.3s ease;

		&:hover {
			border-color: $accent;

			@media (max-width:$tablet){
				border-color: transparent;
			}
		}

		@media (max-width:$tablet){
			border-bottom: none;
			padding: rem(20);
			font-size: rem(18);
		}
	}

	li {
		@media (max-width: em(1366)){
			margin-right: rem(15);
		}

		@media (max-width:$tablet){
			margin-right: 0;
		}
	}
}

.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	margin-right: rem(60);
	z-index: 5;

	@media (max-width: em(1366)){
		  margin-right: 0;
			flex-grow: 1;
	}
}

.header__mobile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;

	@media (max-width:$tablet){
		position: fixed;
		z-index: 3;
		top: 20px;
		left: 0;
		transform: translateX(-100%);
		padding: rem(50);
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #ffffff;
		transition: transform 0.3s ease;
		overflow: auto;

		.menu__list {
			padding: rem(20) 0;
			flex-direction: column;
			align-items: center;
		}

	}

	@media (max-width:$mobileSmall){
		padding: rem(10);
	}

	@media (max-height: em(500)) {
		.menu__list {
			padding: rem(150) 0 rem(20);
		}
	}
}

.header__menu {
	margin: 0 auto;
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;

	@media (max-width:$tablet){
		justify-content: flex-end;
	}
}

.menu__list {
	display: flex;
}

.shop__menu {
	display: flex;
	align-items: center;
	gap: rem(30);
}

.shop__item {
	&--favorite {
		.shop__link {
			position: relative;
		}
	}
}

.shop__link {
	display: block;
	width: rem(30);
	height: rem(30);
}

